::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
button {
  border: none;
  outline: none;
}
.clearfix{
  display: inline-block;
  &:after {
    display: block;
    content: "";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}
